/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Heebo&family=Indie+Flower&family=Lobster&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar style started */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 60px;
    color: white;
    background-color: black;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
    justify-content: start;
    column-gap: 30px;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-left a:hover {
    color: cadetblue;
}

.nav-center {
    display: flex;
    justify-content: center;
}

.nav-center a {
    text-decoration: none;
}

.nav-text {
    font-size: 30px;
    font-weight: bold;
    color: rgb(35, 236, 219);
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
}

.nav-text:hover {
    color: white;
}

.nav-right {
    display: flex;
    justify-content: end;
}

.nav-icon {
    font-size: 20px;
}

.nav-icon:hover {
    cursor: pointer;
    color: cadetblue;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 10px 40px;
    }

    .nav-text {
        font-size: 24px;
    }

    .nav-icon {
        font-size: 16px;
    }

    .nav-left {
        font-size: 16px;
        column-gap: 10px;
    }
}


@media screen and (max-width: 600px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-text {
        font-size: 20px;
    }

    .nav-icon {
        font-size: 14px;
    }

    .nav-left {
        font-size: 14px;
        column-gap: 10px;
    }
}

/* navbar style ended */

/* home part style started */
.home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.home-top {
    border-top: 1px solid rgb(236, 35, 169);
}

.home-top img {
    width: 100%;
}

.home-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 7px 10px;
    column-gap: 10px;
}

.men-div,
.women-div {
    position: relative;
}

.men-text,
.women-text {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 80px;
    color: rgb(236, 35, 169);
    font-weight: bold;
}

.home-middle img {
    height: 100%;
    width: 100%;
}

.home-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 10px 7px;
}

.home-bottom img {
    width: 100%;
}

.home-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn-div button {
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 7px;
    font-weight: bold;
    background-color: rgb(236, 35, 169);
}

.home-btn-div button:hover {
    color: rgb(236, 35, 169);
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    .men-text,
    .women-text {
        font-size: 40px;
    }

    .home-btn-div button {
        padding: 3px 7px;
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {

    .men-text,
    .women-text {
        font-size: 30px;
    }

    .home-btn-div button {
        padding: 3px 7px;
        font-size: 14px;
    }
}

/* home part style ended */

/* footer style started */
footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: 30px 20px 10px;
    background-color: black;
    color: white;
    row-gap: 20px;
}

.footer-top,
.footer-mid,
.footer-bottom {
    display: flex;
    justify-content: center;
}

.footer-top {
    color: rgb(236, 35, 169);
    font-weight: bold;
    font-size: 30px;
}

.footer-mid {
    column-gap: 20px;
}

.footer-bottom {
    font-size: 12px;
}

@media screen and (max-width: 900px) {

    .footer-top {
        font-size: 24px;
    }
}

@media screen and (max-width: 900px) {
    .footer-top {
        font-size: 18px;
    }

    .footer-bottom {
        font-size: 10px;
    }
}

/* footer style ended */